body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255,255,250);
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/*CHANGE OF NAVBAR BACKGROUND TO MATCH BACKGROUND OF LOGO*/

.navbar {
    background-color: rgb(255,255,250);
}

/*NAVBAR PIZZA PLANET LOGO*/

img {
    width: 72px;
}


/*LITTLE CHANGES TO NAV BAR*/

.sign-up-icon {
    display: none;
}

.nav-item {
    line-height: 54px;
}

.jumbotron {
    background-image: url("../img/pizza.png");
}

.jumbotron h1 {
    background: rgba(255,255,255,0.5);
}

.pizza-jumbotron {
    display: none;
}

