body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

/*navbar elements*/

.nav {
    background-color: #0d4f17;
    width: 100vw;
    position: fixed;
    margin-left: -50vw;
    height: 51px;
    left: 50%;
    top: 0;
    border-bottom: 4px solid black;
    z-index: 11;
}

.nav ul {
    text-align: center;
}
.nav li {
    display: inline;
    text-align: center;
    margin: 0 3vw;
}

.nav a  {
    text-decoration: none;
    color: #fff236;
    text-transform: uppercase;
}

.nav a:hover {
    color: black;

}

#nav-logo {
    transform: rotate(-2deg);
    width: 60px;
    float: left;
    margin: 10px 15px;
}

/*Main body elements*/

.main {
    width: 100vw;
    height: 90vw;
    margin-left: -50vw;
    left: 50%;
    position: relative;
    margin-top: 55px;
    background-image: url("../img/css-background2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;
}

.fancy-header {
    position: relative;
    width: 80vw;
    font-weight: lighter;
    font-size: 3vw;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    left: 40px;
}

#subheader {
    position: relative;
    font-size: 2vw;
    text-align: left;
    margin: 0;
    left: 40px;
    /*margin-top: -15px;*/
}

.headers {
    position: relative;
    width: 80%;
    height: 20%;
    top: 30px;
    padding: 0;
    text-align: left;
}

/* ----- Core Values/ Our Process/ 2020 Vision sections ----- */

.lists {
    position: relative;
    top: -10vw;
    width: 70vw;
    left: 40px;
    height: 90vw;
    margin-bottom: 0;
}

.lists h2 {
    color: #fff236;
    font-size: 4vw;
    margin: 0 auto;
    font-style: italic;
}

.lists ul,
.lists ol {
    position: relative;
    font-size: .5vw;
    /*text-transform: none;*/
    /*list-style-type: none;*/
    left: -20px;
    color: white;
}

.lists li {
    /*display: inline;*/
    margin: 0 3px;
    font-size: 1.6vw;
    text-transform: uppercase;
}

.core-values {
    position: relative;
    padding: 0;
    top: 60px;
    margin-bottom: 70px;
}

.our-process {
    position: relative;
    padding: 0;
    margin-bottom: 10px;
}

.vision-2020 {
    position: relative;
    padding: 0;
    margin-bottom: 10vw;
}

/* -----  Middle bar style   ----- */

.middle-bar {
    position: absolute;
    width: 100vw;
    height: 6vw;
    z-index: 0;
    top: 60vw;
    background-color: black;
}

/* ----- COMPANY VISION HEADER ----- */

.company-vision-header h2 {
    position: relative;
    color: black;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: lighter;
    top: -40vw;
}

/* ----- PICTURE COLLAGE ----- */

.pic-collage {
    position: relative;
    width: 100vw;
    height: 69vw;
    background-color: black;
    top: -40vw;
}

.pic-collage img {
    width: 50vw;
    float: left;
    height: 35vw;
}

/* ----- OUR PRODUCT ----- */

.our-product-header {
    position: relative;
    color: black;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: lighter;
    top: -40vw;
}

/* ---- OUR FEATURES ----- */

.products-table {
    border: 5px solid black;
    background-color: #0d4f17;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    top: -40vw;
    left: 18%;
    font-size: 3vw;
    padding: 0;
    width: 61vw;
}

th {
    color: #fff236;
    font-weight: lighter;

}

td {
    color: white;
    font-weight: lighter;
}

/* ----- FOOTER ----- */

.footer {
    position: relative;
    text-align: center;
    top: -35vw;
}








